:root {
  --qwik-dark-blue: #006ce9;
  --qwik-light-blue: #18b6f6;
  --qwik-light-purple: #ac7ff4;
  --qwik-dark-purple: #713fc2;
  --qwik-dirty-black: #1d2033;
  --qwik-dark-background: #151934;
  --qwik-dark-text: #ffffff;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background: var(--qwik-dark-background);
}

.container {
  width: 1280px;
  margin: 0 auto;
  text-align: center;
}

button {
  border-radius: 12px;
  padding: 10px 20px;
  background: var(--qwik-dark-purple);
  color: var(--qwik-dark-text);
}

button:hover {
  background: var(--qwik-light-purple);
}

@media only screen and (max-width: 320px) {
  .container {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding: 0 20px;
  }
}

@media only screen and (max-width: 768px) {
  .container {
    padding: 0 20px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
  }
}
